const config = {
  exif: {
    checkApiUrl: 'https://checkmedia.org',
    checkApiAccessToken: 'get one on admin UI when a bot is created',
    opencageKey: 'an OpenCage key'
  },
  youtube: {
    checkApiUrl: 'https://checkmedia.org',
    checkApiAccessToken: 'get one on admin UI when a bot is created',
    youtubeKey: 'a YouTube key'
  }
};
module.exports = config;
