Question,Url,Summary,Title
COVID-19 vaccines do not alter human DNA,https://health-desk.org/articles/covid-19-vaccines-do-not-alter-human-dna,"COVID-19 vaccines are not considered a form of gene therapy and do not alter human DNA. 
The U.S. NIH noted that some of the different strategies being researched in gene therapy include:
- ""Replacing a mutated gene that causes disease with a healthy copy of the gene. 
- Inactivating, or “knocking out,” a mutated gene that is functioning improperly. 
- Introducing a new gene into the body to help fight a disease.""

COVID-19 mRNA - short for 'messenger RNA' - vaccines from Pfizer/BioNTech and Moderna do not meet this criteria as they do not have any genes or genetic materials that can alter human DNA in any way. 
",COVID-19 vaccines are not considered a form of gene therapy and do not alter human DNA. 
How does the vaccine work against a mutating virus?,https://health-desk.org/articles/how-does-the-vaccine-work-against-a-mutating-virus,"Vaccines activate a bunch of different cells and types of antibodies to fight infections. Most of the vaccines that have been given emergency COVID-19 authorizations work by activating a variety of antibodies that focus on different parts of the COVID-19 virus, instead of just one specific characteristic. 

This approach means that vaccines will likely have some effectiveness against the virus, even with its inevitable mutations. But as more time passes, and as COVID-19 continues to spread, some mutations will likely make the virus look very different than its original form. This would help the virus potentially evade the protection of existing vaccines. ","Vaccines are likely to be at least somewhat effective against virus mutations including Delta and Omnicron. Vaccines activate a bunch of different cells and types of antibodies, and most COVID-19 vaccines focus on different parts of the COVID-19 virus to build the body's immunity"
What do we know about breast cancer and antiperspirants?,https://health-desk.org/articles/there-is-no-evidence-that-antiperspirants-cause-breast-cancer,"There is currently no strong scientific evidence that shows antiperspirants cause breast cancer.

Since antiperspirants tend to include aluminum and are applied near the breast tissue and lymph nodes, there has been great speculation about the potential for negative health impacts with consistent use.

However, few studies have focused on the direct link between antiperspirant use and cancer. Those that do have found no conclusive link between the two.
","There is currently no strong scientific evidence that shows antiperspirants cause breast cancer.

Since antiperspirants tend to include aluminum and are applied near the breast tissue and lymph nodes, there has been great speculation about the potential for negative health impacts with consistent use."
There is no evidence linking COVID-19 vaccines with cancer,https://health-desk.org/articles/there-is-no-evidence-linking-covid-19-vaccines-with-cancer,"There is no evidence that COVID-19 vaccines can cause or are linked to increased risks of cancer. There are also no data that support a recent surge in cancers since the COVID-19 vaccination rollout began in late 2020. (It should be noted that most data for cancer incidence for 2021 has not yet been tallied). Most scientists have seen a decrease in cancer incidences as it is estimated that at least 20% of people have had to delay medical care and treatment, such as testing for cancerous maladies.
",There is no evidence that COVID-19 vaccines can cause or are linked to increased risks of cancer.
COVID-19 vaccines do not change the color of blood,https://health-desk.org/articles/covid-19-vaccines-do-not-change-the-color-of-blood,"Human blood is red because of a protein called hemoglobin that is inside it. This happens because hemoglobin contains a compound called heme that is colored red and helps transport oxygen throughout the body. Without hemoglobin and heme in it, blood would likely appear to be a lighter, yellower, clearer tone—the color of plasma—which is the part of blood that that is left when hemoglobin/red blood cells are removed. People who are vaccinated against COVID-19 do not have lower levels of hemoglobin in their blood and COVID-19 vaccines do not change the color of blood.",COVID-19 vaccines do not change the color of blood
Why is making an HIV vaccine harder than making one for COVID-19?,https://health-desk.org/articles/why-is-making-an-hiv-vaccine-harder-than-making-one-for-covid-19,"There is no Human Immunodeficiency Virus (HIV) vaccine currently available to prevent HIV or treat people who have the virus. There are several reasons why the production of HIV vaccines are taking longer than ones for other viruses such as SARS-COV-2. Namely, HIV is a more difficult organism to make a vaccine against. ",COVID-19 vaccines were quicker to develop than HIV vaccines as HIV is a more difficult organism to vaccinate against.
What do we know about the side effects of flu shots compared to the side effects of COVID-19 vaccines?,https://health-desk.org/articles/what-do-we-know-about-the-side-effects-of-flu-shots-compared-to-the-side-effects-of-covid-19-vaccines,"Side effects for both flu shots and COVID-19 vaccines are relatively minor, and are outweighed by the benefits of the protection they provide. COVID-19 vaccines and flu vaccines are different vaccines for different vaccines, and therefore their side effects should not be directly compared.","Side effects for both flu shots and COVID-19 vaccines are relatively minor, and are outweighed by the benefits of the protection they provide. COVID-19 vaccines and flu vaccines are different vaccines for different vaccines, and therefore their side effects should not be directly compared."
"Hydrogen peroxide is not a cure for the common cold, COVID-19, HIV, cancer, or any other disease",https://health-desk.org/articles/hydrogen-peroxide-is-not-a-cure-for-the-common-cold-covid-19-hiv-cancer-or-any-other-disease,"Hydrogen peroxide is not a cure for any infectious disease, including COVID-19. There is no evidence that hydrogen peroxide is a cure for the common cold, COVID-19, HIV, cancer, or any other disease.","Hydrogen peroxide is not a cure for any infectious disease, including COVID-19. There is no evidence that hydrogen peroxide is a cure for the common cold, COVID-19, HIV, cancer, or any other disease."
