const config = {
  awsRegion: 'eu-west-1',
  functionName: 'goolge-factcheck-bot-background', 
    // these are fallback values, will be overriden by ENV set in lambda
    checkApiAccessToken: '<api key here>', //corresponds to CHECK_API_ACCESS_TOKEN in ENV
    checkApiUrl: 'localhost:3000', // check-graphql endpoint (eg. qa-check-api.checkmedia.org) CHECK_API_URL in ENV
    googleFactCheckFeedId: 0 //feed id for the google fact check team's  feed GOOGLE_FACT_CHECK_FEED_ID in env
};
module.exports = config;
